
.info-box-text {text-transform: none;} 

.page-footer{
  background-color: #444444;
  color: white
  
}

/* navbar */
.navbar-default {
    background-color: #444444;
    border-color: #E7E7E7;
}

 /* unvisited link */
a:link {
  color: blue;
}
